/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container-header {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-main {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  /* debug */
  background-color: #ee82ee;
}

.container-footer {
}

/* Header */
.header-bg {
  height: 80px;
  /* debug */
  background-color: #add8e6;
  align-content: center;
}

.flex-container-header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  /* debug */
  border: 2px solid #000000;
  background-color: #daa520;
}

/* Main */
.main-bg-blu {
  height: 600px;
  background-color: #00008b;
  align-content: center;
}

.flex-container-main {
  width: 600px;
  height: 450px;
}

/* Footer */
