/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container-header {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-main {
  max-width: 1200px;
  margin: 0 auto;
  /* debug */
  border: 2px dashed black;
}

.container-footer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container-main {
  display: flex;
  height: 450px;
}

.main-1 {
  max-width: 900px;
  /* debug */
  background-color: #ee82ee;
}

/* Header */
.header-bg {
  height: 80px;
  /* debug */
  background-color: #add8e6;
  align-content: center;
}

.flex-container-header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  /* debug */
  border: 1px dashed #000000;
  background-color: #daa520;
}

/* Main */
/* Common */
.header-logo {
  display: flex;
  border-right: 1px dashed black;
  padding: 3px 250px 3px 3px;
  align-items: center;
}

.header-login {
  display: flex;
  border-left: 2px dashed black;
  padding: 3px 3px 3px 250px;
  align-items: center;
}

.header-link {
  align-content: center;
}

.main-bg {
  height: 600px;
  align-content: center;
}

.col {
  width: 65%;
  background-color: #1e90ff;
}

.col-1 {
  width: 35%;
  background-color: #ffc0cb;
}

/* Background */
.bg-blu {
  background-color: #00008b;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #d3d3d3;
}

.main-4 {
  /* debug */
  background-color: #228b22;
}

/* quarta sezione */
.flex-container-main-4 {
  display: flex;
  height: 800px;
}

.main-bg-gray-2 {
  height: 850px;
  align-content: center;
  /* debug */
  background-color: #d3d3d3;
}

/* quinta sezione */
.main-bg-black {
  background-color: #23272a;
  align-content: center;
  height: 500px;
}

.left-col-pink {
  flex: 1;
  width: 40%;
  /* debug */
  background-color: #f48b8b;
}

.right-col-green {
  flex: 2;
  display: flex;
}

.col-2 {
  flex: 1;
  /* debug */
  background-color: #20b2aa;
  border-right: 2px dashed #ffffff;
}

/* Footer */
.footer-bg {
  align-content: flex-end;
  height: 80px;
  margin-top: 3px;
  /* debug */
  background-color: #23272a;
}

.flex-container-footer {
  display: flex;
  /* padding: 8px; */
  justify-content: space-between;
  height: 50px;
  align-items: center;
  /* debug */
  border: 2px solid #000000;
  background-color: #7fffd4;
}

.logo-footer {
  padding: 3px;
  /* debug */
  background-color: #ffb6c1;
  border: 2px dashed black;
}

.button-footer {
  padding: 3px;
  /* debug */
  background-color: #ffb6c1;
  border: 2px dashed black;
}
